name: Deploy to Heroku

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Build with Maven
      run: mvn -B clean package -Pproduction

    - name: Get version
      id: version
      run: |
       echo "::set-output name=version::$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)"
      
    - name: Upload built jar
      uses: actions/upload-artifact@v2
      with: 
        path: target/vaadin17-typescript-test-${{ steps.version.outputs.version }}.jar
        if-no-files-found: error
      
    - name: Deploy to heroku
      run: |
        heroku login
        heroku plugins:install java
        heroku deploy:jar target/vaadin17-typescript-test-${{ steps.version.outputs.version }}.jar --app ${{ secrets.HEROKU_APP_NAME }}
        heroku logout
      env: 
        HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY}}

